# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Sonarqube

on:
  push:
    branches: [ "infra/sonarqube" ]
  pull_request:
    branches: [ "infra/sonarqube" ]

jobs:
  build:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: ./backend
    env:
      SONARQUBE_URL: ${{ secrets.SONAR_HOST_URL }}
      SONARQUBE_TOKEN : ${{ secrets.SONAR_TOKEN }}
      SONARQUBE_PROJECT_KEY : ${{ secrets.SONAR_PROJECT_KEY }}
      PR_NUMBER: ${{ github.event.pull_request.number }}
      
    
    steps:
      # μ†μ¤μ½”λ“ μ²΄ν¬μ•„μ›ƒ μν–‰
      - name: Checkout source code
        uses: actions/checkout@v2

      # gradlw νμΌ κ¶ν• λ³€κ²½
      - name: gradlew permission change
        run: sudo chmod 755 gradlew
        
      - name: Sonarqube Analysis
        run: echo ${{ secrets.SONAR_HOST_URL }}  
          echo ${{ secrets.SONAR_PROJECT_KEY }} 
          echo ${{ secrets.SONAR_PROJECT_KEY }}
          echo ${{ github.event.pull_request.number }} 
          echo ${{ secrets.SONAR_TOKEN }}
          
      # Gralde μ Scanner λ°λ™, μ„μ env μ—μ„ μ„ μ–Έν• ν™κ²½λ³€μμ™€ ν•¨κ» λ°λ™
      - name: Sonarqube Analysis
        run: ./gradlew build sonarqube
          -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }}
          -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }}
          -Dsonar.projectName=${{ secrets.SONAR_PROJECT_KEY }}-${{ github.event.pull_request.number }}
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}
          
      - name: Comment Sonarqube URL
        uses: actions/github-script@v4
        with:
          script: |
            const { SONARQUBE_PROJECT_KEY, SONARQUBE_URL, PR_NUMBER } = process.env
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `π“ ${ SONARQUBE_PROJECT_KEY }-${ PR_NUMBER } λ¶„μ„ κ²°κ³Ό ν™•μΈν•κΈ° [λ§ν¬](${ SONARQUBE_URL }/dashboard?id=${ SONARQUBE_PROJECT_KEY }&pullRequest=${ PR_NUMBER })`
            })
